<!DOCTYPE html>
<html>
<head>
	<title>Nuro Business Dashboard</title>
	<meta charset='utf-8' />

	<meta name='viewport' content='width=device-width, initial-scale=1.0'>

	<link rel='stylesheet' href='https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css' />
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body style='margin:0px; border:0px; padding: 0px; background: #333'>

    <div id='map_container'>
        <div id='map_div' style='height:100%; width:90%; z-index:1; position:absolute; left: 0px; top: 0px'></div>
    </div>
    <div id='status' style='z-index:10; white-space: pre; display: inline-block; position:absolute; left: 5px; bottom: 5px; color:white; background:black; font-size: 22px; margin-top: 5px; margin-left: 5px; '> Help: Select a mode on the right bar </div>

    <div id='toolbar' style='width:9%; float:right'>

        <div>
            <div class='dropdown'>
            <button id='reachable_button' class="btn btn-default dropdown-toggle" style='margin-top:50px' type="button" data-toggle="dropdown">
                Reachable region<span class="caret"></span>
            </button>

            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href='#' onclick='set_region_speed_threshold("all")'> Overlay of all speeds </a></li>
                <li class='disabled'><a href='#'> 25 mph and below </a></li>
                <li class='disabled'><a href='#'> 35 mph and below </a></li>
                <li class='disabled'><a href='#'> 45 mph and below </a></li>
                <li class='disabled'><a href='#'> all speeds </a></li>
            </ul>
            </div>
            <textarea id='reachable_time_textarea' style='width:100%; margin-top:5px' placeholder='Max travel time (min)'></textarea>
            <button id='finish_region_button' class='btn btn-success' onclick='finish_reachable_region();' style='margin-top:5px'> Submit region </button>
        </div>

        <div>
            <div class='dropdown'>
            <button id='route_button' class="btn btn-default dropdown-toggle" style='margin-top:20px' type="button" data-toggle="dropdown">
                Route w/ speed limit <span class="caret"></span>
            </button>

            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href='#' onclick='set_route_speed_threshold(25);'> 25 mph and below </a></li>
                <li><a href='#' onclick='set_route_speed_threshold(35);'> 35 mph and below </a></li>
                <li><a href='#' onclick='set_route_speed_threshold(45);'> 45 mph and below </a></li>
                <li><a href='#' onclick='set_route_speed_threshold(65);'> all speeds </a></li>
            </ul>
            </div>
            <textarea id='traffic_multiplier_textarea' style='width:100%; margin-top:5px'>Traffic multiplier (1 by default)</textarea>
        </div>

        <div id='sim_input_popover' class='popover-markup' style='margin-top:20px'>
            <a href="#" id='sim_popout_button' onclick='gray_all_buttons(); mode="none";' class="trigger btn btn-default"><span class="caret" style='transform: rotate(90deg)'></span>Simulate</a>
            <div id='sim_input_title' class="head hide">Simulation Parameters</div>
            <div id='sim_input_table' class="content hide">
                Number of robots
                <div class="form-group">
                    <input id='sim_num_robots' type="text" class="form-control" value="3">
                </div>
                Business prep time (min)
                <div class="form-group">
                    <input id='sim_business_prep' type="text" class="form-control" value="20">
                </div>
                Customer pickup time (min)
                <div class="form-group">
                    <input id='sim_customer_pickup' type="text" class="form-control" value="5">
                </div>
                Number of requests
                <div class="form-group">
                    <input id='sim_num_requests' type="text" class="form-control" value="50">
                </div>
                Business service radius (mi)
                <div class="form-group">
                    <input id='sim_business_radius' type="text" class="form-control" value="3">
                </div>
                Robot max speed (mph)
                <div class="form-group">
                    <input id='sim_robot_max_speed' type="text" class="form-control" value="35">
                </div>
                Road max speed (mph, inclusive)
                <div class="form-group">
                    <input id='sim_road_max_speed' type="text" class="form-control" value="35">
                </div>
                Traffic multiplier
                <div class="form-group">
                    <input id='sim_traffic_multiplier' type="text" class="form-control" value="1">
                </div>
                <button type="submit" id='sim_submit' onclick='submit_sim();' class="btn btn-default btn-block">
                    Submit
                </button>
            </div>
        </div>

        <div id='sim_results_popover' class='popover-markup' style='margin-top:20px'>
            <a href="#" id='sim_results_popout_button' onclick='gray_all_buttons(); mode="none";' class="trigger btn btn-default"><span class="caret" style='transform: rotate(90deg)'></span>Sim Results</a>
            <div id='sim_results_title' class="head hide">Simulation Metrics</div>
            <div id='sim_results_table' class="content hide">
                <table class='table table-bordered' style="width:100%">
                    <thead>
                      <tr>
                        <th>Metric</th>
                        <th>Value</th>
                      </tr>
                    </thead>
                    <tr>
                        <td>Avg. customer wait time (min)</td>
                        <td id='sim_res_wait_time'>asdf</td>
                    </tr>
                    <tr>
                        <td>Avg. robot pickup time (min)</td>
                        <td id='sim_res_pickup_time'></td>
                    </tr>
                    <tr>
                        <td>Avg. robot delivery time (min)</td>
                        <td id='sim_res_delivery_time'></td>
                    </tr>
                    <tr>
                        <td>Avg. best case wait time (min)</td>
                        <td id='sim_res_best_case_time'></td>
                    </tr>
                    <tr>
                        <td>Fraction of requests serviced</td>
                        <td id='sim_res_service_ratio'></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>

    <script>L_PREFER_CANVAS = true;</script>
    <script src='https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js'></script>
    <script src='https://mapzen.com/tangram/0.8/tangram.min.js'></script>
    <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script src='/static/js/business_data.js'></script>
    <script src='/static/js/roads_by_speed_limit.js'></script>
    <script src='/static/js/draw.js'></script>
    <script src='/static/js/main.js'></script>
    <script src='/static/js/sim.js'></script>
    <script src='/static/js/router.js'></script>
</body>
</html>
